.env
.venv
__pycache__
.buildozer
bin
build
bitrot.build
bitrot.dist
bitrot.onefile-build
game
bitrot/game/save/player
bitrot/game/save/game
bitrot/game/save/server
bitrot/game/logs/*.log
bitrot/game/lib/sfx/*/*-pygbag.ogg