.env
.venv
__pycache__
.buildozer
bin
build
bitrot.build
bitrot.dist
bitrot.onefile-build
game
data.rot
bitrot/data.rot/save/player
bitrot/data.rot/save/game
bitrot/data.rot/save/server
bitrot/data.rot/logs/*.log
bitrot/data.rot/lib/sfx/*/*-pygbag.ogg