<config>
    <!-- Player Config -->
    <player>
        <speed value="1.5" />
        <food_water_decay_seconds value="5.0" />
        <food_water_multiplier_decay value="1.5" />
        <food_decay value="0.2" />
        <water_decay value="0.3" />
        <water_autodrink value="true" />
        <water_threshold value="90" />
        <zoom_start value="3.0" />
        <zoom_far value="1.3" />
        <zoom_near value="5.0" />
        <view_radius value="3" />
        <fow_radius value="15" />
    </player>

    <!-- Items Durabilitie Config -->
    <durability>
        <multiplier value="1.0" />
        <weapon_multiplier value="1.0" />
        <tool_multiplier value="1.0" />
    </durability>

    <!-- Spawning Config -->
    <spawning>
        <item_spawn_chance_multiplier value="1.0" />
    </spawning>

    <!-- Zombies Config -->
    <zombie>
        <speed value="1" />
        <drop value="1" />
        <detection value="20" />
        <wander value="true" />
        <wander_interval value="2000" />
        <sight_check value="true" />
        <spawn value="2" />
        <respawn_timer value="12000" />
    </zombie>
</config>