<?xml version="1.0" ?>
<config>
    <ui>
        <ui_background_music value="true" name="Background music (Default: True)"/>
        <ui_show_tutorial_default value="false" name="Display Help and Tutorial at start gameplay (Default: False)"/>
        <language value="en_US" name="Language (Default: en_US)"/>
        <crt_filter value="true" name="CRT filter (Default: True)"/>
    </ui>
    <audio>
        <volume_music value="0.25" name="Music Volume"/>
        <volume_background value="1.0" name="Background Volume"/>
        <volume_atmospheric value="1.0" name="Atmospheric Volume"/>
    </audio>
    <game>
        <time_daylength value="900000" name="Day length (Default: 15 minutes)"/>
        <time_sunrise_hr value="5.5" name="Time sunrise (Default: 5:30)"/>
        <time_sunset_hr value="17.5" name="Time sunset (Default: 17:30)"/>
        <time_start_hr value="6.0" name="Start hour (Default: 6:00)"/>
    </game>
    <map>
        <map_chunks value="2" name="Map size (Default: 2)"/>
    </map>
    <player>
        <view_radius value="10" name="View radius tiles (Default: 10)"/>
        <zoom_start value="3.0" name="Zoom start (Default: 3.0)"/>
        <zoom_far value="2.0" name="Zoom max far (Default: 2.0)"/>
        <zoom_near value="3.5" name="Zoom max near (Default: 3.5)"/>
        <water_autodrink value="true" name="Allow Autodrink"/>
        <water_threshold value="99" name="Minimum % to start autodrink (Default: 99)"/>
    </player>
    <item_spawning>
        <item_spawn_chance_multiplier value="0.5" name="Global Multiplier"/>
    </item_spawning>
    <vehicle>
        <vehicle_spawn_per_chunk value="5" name="Max vehicle spawn on chunk (Default: 5)"/>
        <has_fuel_chance value="0.25" name="Car Fuel chance (Default: Low)"/>
        <has_key_chance value="0.25" name="Car Key chance (Default: Low)"/>
        <has_motor_chance value="1.0" name="Car Motor chance (Default: Extreme High)"/>
        <has_battery_chance value="0.75" name="Car Battery chance (Default: High)"/>
        <has_tires_chance value="1.0" name="Car Tires chance (Default: Extreme High)"/>
    </vehicle>
    <animal>
        <animal_spawn_per_chunk value="10" name="Max Animal spawn on chunk (Default: 10)"/>
        <animal_respawn_ms_timer value="30000" name="Animal respawn (Default: 30000)"/>
    </animal>
    <npc>
        <npc_spawn_per_chunk value="10" name="Max NPC spawn on chunk (Default: 10)"/>
        <static_percent value="0.40" name="Static NPC percentage (Default: 0.40)"/>
        <hostile_percent value="0.60" name="Hostile NPC percentage (Default: 0.60)"/>
    </npc>
    <zombie>
        <zombie_spawn_per_chunk value="10" name="Max Zombie spawn on chunk (Default: 10)"/>
        <spawn value="10" name="Zombies per spawn (Default: 5)"/>
        <zombie_multiplier value="1" name="Multiplier respawn by day (Default: 1, example: day five will respawn 5x)"/>
        <wander value="true" name="Zombie wandering (if False all Zombies will go to player)"/>
        <sight_check value="true" name="Sight player (Default: true)"/>
        <respawn_timer value="600000" name="Respawn (Default: 600000)"/>
        <infection_chance value="0.25" name="Zombie infection chance (Default: 0.10)"/>
    </zombie>
</config>
